.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-button.col-xl-3 ,.menu-button.col-lg-3 ,.menu-button.col-md-3{
  flex: 1 1 12%!important;
  margin: 15px!important;
  max-width: 175px;
}

.float-right{
  float: right!important;
}

/* main.vuecssstyle */
.menu-button i {
  font-size: 40px; 
  color:#69DCFC;
}
.text-welcome{
  color: #0081CC;
  font-weight: bold;
  font-size: 42px;

}

.text-head{
  color:#49BCFF;
  font-weight: bold;
  font-size: 48px;
}

.text-head-sub{
  color:#49BCFF;
}

.text-span-menu{
  font-size: 1em;
  color: black;
  margin-top: 10px;
  font-weight: 200;
}





.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top:45px;
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-bottom: 45px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}





.menu-button:hover {
  background-color: #f0f0f0;
}